body{
  background-color: darkslategray;
  color: azure;
  font-family: Times;
}

/* Nav Bar*/
#navbar{
  position: absolute;
  height: 95%;
  width: 20%;
  border-radius: 10px;
  background-color: rgb(55, 93, 93);
}
.title{
  font-size: 25px;
  margin-bottom: 10px;
}
.plus-button{
  border: none;
  border-radius: 10px;
  padding: 0px 15px;
  font-size: 15px;
  margin-bottom: 30px;
  background-color: rgb(72, 120, 120);
  border: 1px solid rgb(72, 120, 120);
  color: azure;
  cursor: pointer;
}

/* Workout list */
#workout-container{
  background-color: rgb(72, 120, 120);
  border: 2px solid rgb(72, 120, 120);
  border-radius: 10px;
  width: 90%;
  height: 70px;
}
#workout-container:hover{
  border: 2px solid white;
}

.workout-title{
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 0px;
}
.workout-date{
  font-size: 17px;
  margin-top: 4px;
}





/* Workout Content */
#workout-content{
  position: absolute;
  left: 22%;
  height: 95%;
  width: 77%;
  border-radius: 10px;
  background-color: rgb(55, 93, 93);
}





.workout-element1{
  border: none;
  border-radius: 5px;
  background-color: rgb(72, 120, 120);
  color: azure;
  width: 70px;
  height: 35px;
  font-size: 20px;
}
.workout-element1-alt{
  border: none;
  border-radius: 5px;
  background-color: rgb(72, 120, 120);
  color: azure;
  width: 70px;
  height: 35px;
  font-size: 20px;
}
.workout-element1.completed{
  background-color: rgb(38, 156, 38);
}
.workout-element2{
  border: none;
  border-radius: 5px;
  background-color: rgb(72, 120, 120);
  color: azure;
  width: 100px;
  height: 35px;
  font-size: 20px;
}
.workout-element2-alt{
  border: none;
  border-radius: 5px;
  background-color: rgb(72, 120, 120);
  color: azure;
  width: 100px;
  height: 35px;
  font-size: 20px;
}
.workout-element2.completed{
  background-color: rgb(38, 156, 38);
}
.workout-element3{
  border: none;
  border-radius: 5px;
  background-color: rgb(72, 120, 120);
  color: azure;
  width: 200px;
  height: 35px;
  font-size: 20px;
}
.workout-element3-alt{
  border: none;
  border-radius: 5px;
  background-color: rgb(72, 120, 120);
  color: azure;
  width: 200px;
  height: 35px;
  font-size: 20px;
}
.workout-element3.completed{
  background-color: rgb(38, 156, 38);
}
.workout-element4{
  border: 2px solid rgb(94, 156, 156);
  border-radius: 5px;
  background-color: rgb(94, 156, 156);
  color: azure;
  width: 30px;
  height: 35px;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}
.workout-element4:hover{
  border: 2px solid azure;
}
.workout-element5{
  border: none;
  border-radius: 5px;
  background-color: rgb(72, 120, 120);
  color: azure;
  width: 60px;
  height: 35px;
  font-size: 20px;
}
.workout-element5-alt{
  border: 2px solid rgb(94, 156, 156);
  border-radius: 5px;
  background-color: rgb(94, 156, 156);
  color: azure;
  width: 60px;
  height: 35px;
  font-size: 20px;
  cursor: pointer;
}
.workout-element5-alt:hover{
  border: 2px solid azure;
}
.workout-element6{
  border: 2px solid rgb(94, 156, 156);
  border-radius: 5px;
  background-color: rgb(94, 156, 156);
  color: azure;
  width: 30px;
  height: 35px;
  font-size: 20px;
  cursor: pointer;
}
.workout-element6:hover{
  border: 2px solid azure;
}
.workout-element7{
  border: 2px solid rgb(94, 156, 156);
  border-radius: 5px;
  background-color: rgb(94, 156, 156);
  color: azure;
  width: 36px;
  height: 35px;
  font-size: 15px;
  cursor: pointer;
  margin-left: 10px;
}
.workout-element7:hover{
  border: 2px solid azure;
  background-color: rgb(216, 100, 100);
}





#table2{
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reps-or-seconds-button{
  border: none;
  border-radius: 5px;
  background-color: rgb(72, 120, 120);
  color: azure;
  width: 70px;
  height: 35px;
  font-size: 20px;
}
.reps-input{
  border: none;
  border-radius: 5px;
  padding: 0px 5px;
  background-color: rgb(72, 120, 120);
  color: azure;
  width: 60px;
  height: 35px;
  font-size: 23px;
  margin-top: 5px;
}

.sets-button{
  border: none;
  border-radius: 5px;
  background-color: rgb(72, 120, 120);
  color: azure;
  width: 70px;
  height: 35px;
  font-size: 20px;
  margin-left: 5px;
}
.sets-input{
  border: none;
  border-radius: 5px;
  padding: 0px 5px;
  background-color: rgb(72, 120, 120);
  color: azure;
  width: 60px;
  height: 35px;
  font-size: 23px;
  margin-left: 5px;
  margin-top: 5px;
}

.load-button{
  border: none;
  border-radius: 5px;
  background-color: rgb(72, 120, 120);
  color: azure;
  width: 80px;
  height: 35px;
  font-size: 20px;
  margin-left: 5px;
}
.load-input{
  border: none;
  border-radius: 5px;
  padding: 0px 5px;
  background-color: rgb(72, 120, 120);
  color: azure;
  width: 70px;
  height: 35px;
  font-size: 23px;
  margin-left: 5px;
  margin-top: 5px;
}

.exercise-name-button{
  border: none;
  border-radius: 5px;
  background-color: rgb(72, 120, 120);
  color: azure;
  width: 160px;
  height: 35px;
  font-size: 20px;
  margin-left: 5px;
}
.exercise-input{
  border: none;
  border-radius: 5px;
  padding: 0px 5px;
  background-color: rgb(72, 120, 120);
  color: azure;
  width: 150px;
  height: 35px;
  font-size: 23px;
  margin-left: 5px;
  margin-top: 5px;
}

.add-data-button{
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgb(94, 156, 156);
  border-radius: 5px;
  background-color: rgb(94, 156, 156);
  color: azure;
  width: 160px;
  height: 35px;
  font-size: 20px;
  cursor: pointer;
}
.add-data-button:hover{
  border: 2px solid azure;
}